<!DOCTYPE html>
<html  lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <title>form glavn string for generate </title>

    <!-- Bootstraps Java Scipts Links -->
	
    <!-- Bootstraps Java Scipts Links -->
		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/opove.css') }}" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
   <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
	  
	<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.slim.min.js') }}"></script>

   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

  <!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>-->



    <!-- JQuery links  -->
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
	
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-3.5.1.js') }}"></script>


    <!--High CHART LIVE  -->
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-3.5.1.js') }}"></script>
	
   <!-- <script src="http://code.highcharts.com/highcharts.js"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='libs/highcharts-more.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/highcharts-more.src.js') }}"></script>

    <!--<script src="http://code.highcharts.com/highcharts-more.js"></script>-->
   <!-- <script src="http://code.highcharts.com/modules/exporting.js"></script>-->
	
	<script type="text/javascript" src="{{ url_for('static', filename='libs/exporting.js') }}"></script>



<center>
<body>

    <canvas id="chart" width="600" height="400"></canvas>
    <script type="text/javascript">
	 function getRandomColor() {
	var letters = '0123456789ABCDEF'.split('');
	var color = '#';
	for (var i = 0; i < 6; i++ ) {
		color += letters[Math.floor(Math.random() * 16)];
	}
	return color;
		}
      var pieData = [
        {% for item, label  in set %}
          {
            value: {{item}},
            label: "{{label}}",
			color : getRandomColor()

          },
        {% endfor %}
      ];

      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");
      //steps = 10

      // draw pie chart
      new Chart(document.getElementById("chart").getContext("2d") ).Pie(pieData);
/////////////////////



///////////////////////////



    </script>
	
</body>




</center>



</head>
</html>