<!DOCTYPE html>
<html  lang="en" dir="ltr">
<head>


<center>
  <style>
   select {
    width: 200px;
   }
  </style>

 {% for it  in number %}
 <table width="100%" cellpadding="5">
 <tr align="center">
 <td>
    <form method="POST" action='/eps/see/{{it}}'>
	<p><input type = "submit" value = "{{it}}" /></p>
	 </form> 
</td>	
  <td>
    <form method="POST" action='/eps/scenar/{{it}}'>
	<p><input type = "submit" value = "scenari_{{it}}" /></p>
	 </form> 
</td>
  <td>	 
    <form method="POST" action='/eps/delet/{{it}}'>
	<p><input type = "submit" value = "delet_{{it}}" /></p>
	 </form>
</td>	 
	 </tr>
	 
</table>

{%endfor%}	







</center>


</head>
</html>