<!DOCTYPE html>
<html  lang="en" dir="ltr">

    <!-- Checkboxradio -->
<head>
	<meta charset="utf-8">
	<title>Store</title>

<style>
body {background-color: LightCyan;}

</style>
</head>	
	
<body>	
	<center>
		<p>
			<thead>
			<link rel="stylesheet" href="style.css">

				<tr>
					<th style="text-align: center;">Admin</th>
				</tr>
			</thead>
			
			<tbody>
			 <form method="POST" action='/'>
			 	<p><input type = "submit" value = "connect" /></p>
				<tr>
					<td style="border: 2px solid rgba(192, 192, 192, 0.5);">
						<table id="table-tx" style="margin:20px;">
						<tr>
							<td><label style="text-align: center;" for="centralfreq">Login</label></td>
					  
							<td><input  id="centralfreq" name="login" ></td>
						</tr>
						<tr>
							<td><label for="ch_id">Password</label></td>
							<td><input  id="ch_id" name="password" ></td>

						</tr>


						</table>
					</td>

				</tr>
			    </form>
			</tbody>
			</p>
		</table>
	</center>
</body>	

</html>
